/* font-family: 'Lato', sans-serif; 
spec.text font-family: 'Lobster', cursive;*/

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: #080300!important;
    font-size: 24px;
    
}

nav a {
    color: rgba(239,235,233 ,1)!important;
}

nav a img {
    border-radius: 50px;
}

.spec-text {
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

footer {
    min-height: 100px;
}

.bcg-col {
    background-color: #080300!important;
    color: rgba(239,235,233 ,1)!important;
    margin-top: 105px;
}

.text-style {
    color: rgba(239,235,233 ,1)!important;
    font-size: 48px;
}

